<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>WJAPS</title>
    <link rel="icon" href="/images/researchlogo.png" type="image/png">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.2.0/ckeditor5.css" />
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <meta property="og:title" content="WJAPS - Journal for Scientific Research and Publication">
    <meta property="og:description" content="Explore WJAPS, a platform for scientific research, publication, and academic collaboration.">
    <meta property="og:image" content="/images/researchlogo.png">
    <meta property="og:url" content="https://wjaps.com">
    
    <!-- Twitter Card meta tags for better Twitter sharing -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="WJAPS - Journal for Scientific Research and Publication">
    <meta name="twitter:description" content="Explore WJAPS, a platform for scientific research, publication, and academic collaboration.">
    <meta name="twitter:image" content="/images/researchlogo.png">
    <meta name="twitter:url" content="https://wjaps.com">
    <meta name="description" content="Discover WJAPS, your trusted platform for scientific research, academic publications, and collaboration. Submit manuscripts and explore new findings.">

    <!-- Meta Keywords for SEO -->
    <meta name="keywords" content="WJAPS, journal, scientific research, academic publications, publication ethics, manuscript submission">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="preconnect" href="https://cdn.ckeditor.com">

</head>
<body class="overflow-x-hidden">
    
    <div class="usermenu left-0 top-0 fixed z-[999999] bg-gray-900 w-[79%] left-[-100%]   h-[100vh] py-[5vh] overflow-y-scroll form-scroll    flex flex-col items-start pl-8 pt-[3vh]">
        <div class="w-full flex justify-between items-center px-3">
        <h1 class="text-white font-medium flex gap-3  text-[2.3vh]"><i class="ri-dashboard-line"></i> menu</h1>
        <i class="ri-close-circle-fill text-[4vh] text-white mr-5 menuclose"></i>
        </div>
        <a href="/" class="text-[#a6b0cf] hover:text-white w-[90%] text-[2.9vw] md:text-[1.3vw] hover:bg-gray-600 rounded-md py-3 flex items-center justify-start gap-3 mt-2 bg-zinc-800 px-2 capitalize cursor-pointer"><i class="ri-list-check text-[2.1vh] max-lg:text-[1.8vh] bg-gray-600 p-1 px-2  rounded-md"></i> <span>home</span></a>
        <a href="/about/publication-ethics" class="text-[#a6b0cf] text-[2.9vw] md:text-[1.3vw] hover:text-white w-[90%] hover:bg-gray-600 rounded-md py-3 flex items-center justify-start gap-3 mt-2 bg-zinc-800 px-2 capitalize cursor-pointer"><i class="ri-list-check text-[2.1vh] max-lg:text-[1.8vh] bg-gray-600 p-1 px-2  rounded-md"></i> <span>publication ethics</span></a>
        <a href="/about/review-procedure" class="text-[#a6b0cf] text-[2.9vw] md:text-[1.3vw] hover:text-white w-[90%] hover:bg-gray-600 rounded-md py-3 flex items-center justify-start gap-3 mt-2 bg-zinc-800 px-2 capitalize cursor-pointer"><i class="ri-list-check text-[2.1vh] max-lg:text-[1.8vh] bg-gray-600 p-1 px-2  rounded-md"></i> <span>review procedure</span></a>
        <a href="/about/author-instructions" class="text-[#a6b0cf] text-[2.9vw] md:text-[1.3vw] hover:text-white w-[90%] hover:bg-gray-600 rounded-md py-3 flex items-center justify-start gap-3 mt-2 bg-zinc-800 px-2 capitalize cursor-pointer"><i class="ri-list-check text-[2.1vh] max-lg:text-[1.8vh] bg-gray-600 p-1 px-2  rounded-md"></i> <span>author instructions</span></a>
        <a href="/currentissue-page" class="text-[#a6b0cf] text-[2.9vw] md:text-[1.3vw] hover:text-white w-[90%] hover:bg-gray-600 rounded-md py-3 flex items-center justify-start gap-3 mt-2 bg-zinc-800 px-2 capitalize cursor-pointer"><i class="ri-list-check text-[2.1vh] max-lg:text-[1.8vh] bg-gray-600 p-1 px-2  rounded-md"></i> <span>current</span></a>
        <a href="/archive-page" class="text-[#a6b0cf] text-[2.9vw] md:text-[1.3vw] hover:text-white w-[90%] hover:bg-gray-600 rounded-md py-3 flex items-center justify-start gap-3 mt-2 bg-zinc-800 px-2 capitalize cursor-pointer"><i class="ri-list-check text-[2.1vh] max-lg:text-[1.8vh] bg-gray-600 p-1 px-2  rounded-md"></i> <span>archive</span></a>
        <a href="/manuscript-submission" class="text-[#a6b0cf] text-[2.9vw] md:text-[1.3vw] hover:text-white w-[90%] hover:bg-gray-600 rounded-md py-3 flex items-center justify-start gap-3 mt-2 bg-zinc-800 px-2 capitalize cursor-pointer"><i class="ri-list-check text-[2.1vh] max-lg:text-[1.8vh] bg-gray-600 p-1 px-2  rounded-md"></i> <span>submission</span></a>
        <a href="/editorial-board" class="text-[#a6b0cf] text-[2.9vw] md:text-[1.3vw] hover:text-white w-[90%] hover:bg-gray-600 rounded-md py-3 flex items-center justify-start gap-3 mt-2 bg-zinc-800 px-2 capitalize cursor-pointer"><i class="ri-list-check text-[2.1vh] max-lg:text-[1.8vh] bg-gray-600 p-1 px-2  rounded-md"></i> <span>editorial board</span></a>
        <a href="/indexing-page" class="text-[#a6b0cf] text-[2.9vw] md:text-[1.3vw] hover:text-white w-[90%] hover:bg-gray-600 rounded-md py-3 flex items-center justify-start gap-3 mt-2 bg-zinc-800 px-2 capitalize cursor-pointer"><i class="ri-list-check text-[2.1vh] max-lg:text-[1.8vh] bg-gray-600 p-1 px-2  rounded-md"></i> <span>indexing</span></a>
        <a href="/contact-page" class="text-[#a6b0cf] text-[2.9vw] md:text-[1.3vw] hover:text-white w-[90%] hover:bg-gray-600 rounded-md py-3 flex items-center justify-start gap-3 mt-2 bg-zinc-800 px-2 capitalize cursor-pointer"><i class="ri-list-check text-[2.1vh] max-lg:text-[1.8vh] bg-gray-600 p-1 px-2  rounded-md"></i> <span>contact us</span></a>
        <a href="/publication-fee" class="text-[#a6b0cf] text-[2.9vw] md:text-[1.3vw] hover:text-white w-[90%] hover:bg-gray-600 rounded-md py-3 flex items-center justify-start gap-3 mt-2 bg-zinc-800 px-2 capitalize cursor-pointer"><i class="ri-list-check text-[2.1vh] max-lg:text-[1.8vh] bg-gray-600 p-1 px-2  rounded-md"></i> <span>publication fees</span></a>
        <a href="/download" class="text-[#a6b0cf] text-[2.9vw] md:text-[1.3vw] hover:text-white w-[90%] hover:bg-gray-600 rounded-md py-3 flex items-center justify-start gap-3 mt-2 bg-zinc-800 px-2 capitalize cursor-pointer"><i class="ri-list-check text-[2.1vh] max-lg:text-[1.8vh] bg-gray-600 p-1 px-2  rounded-md"></i> <span>download</span></a>
        <a href="/about/join-reviewer" class="text-[#a6b0cf] text-[2.9vw] md:text-[1.3vw] hover:text-white w-[90%] hover:bg-gray-600 rounded-md py-3 flex items-center justify-start gap-3 mt-2 bg-zinc-800 px-2 capitalize cursor-pointer"><i class="ri-list-check text-[2.1vh] max-lg:text-[1.8vh] bg-gray-600 p-1 px-2  rounded-md"></i> <span>join as reviewer</span></a>
      </div>