<div class="menu w-full max-md:h-fit min-h-[20vw] relative bg-black">
    <div  class="top-part flex max-md:w-full max-md:min-h-[7.5vh] md:w-[85%] md:min-h-[4vw] bg-black  text-white flex px-3 items-center  mx-auto justify-end  ">
            <div class="wrap flex items-center justify-center gap-2 relative link link--elara">
                <a class="block mx-auto xl:text-[2.2vh] lg:text-[1.2vw] text-[2.9vw] md:text-[1.3vw] shrink-0  hover:translate-y-[-1px] transition-transform duration-0.2 ease   lg:py-2 relative capitalize font-bold cursor-pointer flex items-center gap-2" href="/manuscript-submission">
                    <i class="ri-map-pin-user-fill"></i>
                    <span class="spn">
                      submit manuscript
                    </span>
                </a>
              
               </div>
        
</div>
<div style="background-image: url(/images/icons/bg-imagemenu.jpg); background-position: center; background-size: cover;" class="center relative  w-full min-h-[15vw] ">
    <div class="overlay-menu w-full min-h-[15vw] flex items-center  top-0 left-0">
        <div class=" md:w-[85%] max-md:py-3   max-md:px-3 items-center  flex max-md:flex-col mx-auto justify-between flex   h-full">
            <img class="xl:w-[11vw] max-md:h-[25vw] md:w-[15vw] lg:w-[10vw] max-md:w-[25vw]   xl:h-[11vw] object-center object-cover " src="/images/researchlogo.png" alt="">
            <div class="center w-[87%]  relative  flex justify-center md:items-start pl-4 flex-col  h-full">
                <a href="/" style=" text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.72); " class="text-white  font-extrabold  max-md:text-[5.5vw] md:text-[3.5vw] lg:text-[3.5vw] text-center xl:text-[2.7vw] xl:leading-[2.7vw]">World Journal of Advance</a>
                <a href="/" style=" text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.72); " class="text-white   max-md:text-center max-md:text-[6.5vw] md:text-[4.5vw] lg:text-[4vw] font-extrabold md:text-center lg:font-extrabold xl:text-[4vw] xl:mt-3  text-center xl:leading-[6.8vh]">Pharmaceutical<br class="md:hidden"> Sciences</a>
                <h6 style=" text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.906); "  class="text-white xl:text-[1.2vw] text-[2vw] xl:mt-4 my-2 max-md:text-center md:text-[1.8vw]">The leading peer-reviewed journal for Pharmaceutical and Medical Research and Technology</h6>
                <div class="md:absolute right-0  xl:border-l-[1.2px] md:py-5  xl:py-0 xl:border-white pl-3 text-white h-full flex flex-col justify-start ">
                    <h2 style=" text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.906); font-family: 'Courier New', Courier, monospace;" class="text-white text-[2.9vw] xl:text-[1.5vw]  max-md:text-center lg:text-[1.2vw] md:text-[1vw]"><span class="font-extrabold  ">ISSN </span>(Applied)</h2>
                    <h5 style="text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.906);" id="clock" class="xl:text-[0.99vw] xl:mt-3 text-[2.5vw] my-2 max-md:text-center md:text-[0.7vw] lg:text-[1vw] font-medium"><%=formattedDateTime%></h5>
                </div>
            </div>          
        </div>
      
    </div>
</div>
<div  class="top-part max-md:hidden py-2   md:w-[85%] md:mx-auto   md:flex bg-black md:justify-between   flex-wrap min-h-[4.2vw] bg-black  text-white flex  items-center justify-center  ">
    <a class="block mx-auto xl:text-[2vh] md:text-[1.2vw]  shrink-0 link  link--elara  hover:translate-y-[-2.5px] transition-transform duration-0.2 ease lg:py-2 relative capitalize font-bold cursor-pointer flex items-center gap-[4.5px]" href="/">
        <img class="lg:w-[3vh] md:w-[2vw] icon lg:h-[3vh] md:h-[2vw] object-center obeject-cover" src="/images/icons/icons8-home-50.png" alt="">
        <span class="spn">home</span>
    </a>
    <a class="block mx-auto xl:text-[2vh] md:text-[1.2vw]  shrink-0 about relative link  link--elara  hover:translate-y-[-2.5px] transition-transform duration-0.2 ease lg:py-2 relative capitalize font-bold cursor-pointer flex items-center gap-[4.5px]" href="#">
        <img class="lg:w-[3vh] md:w-[2vw] icon lg:h-[3vh] md:h-[2vw] object-center obeject-cover" src="/images/icons/icons8-about-50.png" alt="">
        <span class="spn ">
            about <i class="ri-arrow-down-s-fill"></i>
        </span>
    </a>
    <div class="overlay w-[15vw] h-[10vw] flex flex-col hidden bg-black left-[15%] top-[100%] p-3 absolute z-[999999999999999999]">
        <a class="block  xl:text-[2.2vh] md:text-[1vw] shrink-0 mt-[8px] uppercase hover:text-[#A0D6EA]" href="/about/about-us">About us</a> 
          <a class="block  xl:text-[2.2vh] md:text-[1vw] shrink-0 mt-[8px] uppercase hover:text-[#A0D6EA]" href="/about/publication-ethics">Publication Ethic</a> 
           <a class="block  xl:text-[2.2vh] md:text-[1vw] shrink-0 mt-[8px] uppercase hover:text-[#A0D6EA]" href="/about/review-procedure">Review Procedure</a>
           <a class="block  xl:text-[2.2vh] md:text-[1vw] shrink-0 mt-[8px] uppercase hover:text-[#A0D6EA]" href="/about/author-instructions">Author Instructions</a>
     </div>
    <a class="block mx-auto xl:text-[2vh] md:text-[1.2vw]  shrink-0 link  link--elara  hover:translate-y-[-2.5px] transition-transform duration-0.2 ease lg:py-2 relative capitalize font-bold cursor-pointer flex items-center gap-[4.5px]" href="/currentissue-page">
        <img class="lg:w-[3vh] md:w-[2vw] icon lg:h-[3vh] md:h-[2vw] object-center obeject-cover" src="/images/icons/icons8-new-view-50.png" alt="">
        <span class="spn">
        current
        </span>
    </a>
    <a class="block mx-auto xl:text-[2vh] md:text-[1.2vw]  shrink-0 link  link--elara  hover:translate-y-[-2.5px] transition-transform duration-0.2 ease lg:py-2 relative capitalize font-bold cursor-pointer flex items-center gap-[4.5px]" href="/archive-page">
        <img class="lg:w-[3vh] md:w-[2vw] icon lg:h-[3vh] md:h-[2vw] object-center obeject-cover" src="/images/icons/icons8-archive-50.png" alt="">
        <span class="spn">
            archive
        </span>
    </a>
    <a class="block mx-auto xl:text-[2vh] md:text-[1.2vw]  shrink-0 link  link--elara  hover:translate-y-[-2.5px] transition-transform duration-0.2 ease lg:py-2 relative capitalize font-bold cursor-pointer flex items-center gap-[4.5px]" href="/editorial-board">
        <img class="lg:w-[3vh] md:w-[2vw] icon lg:h-[3vh] md:h-[2vw] object-center obeject-cover" src="/images/icons/editorial-design.png" alt="">
        <span class="spn">
         editorial board
        </span>
    </a>
    <a class="block mx-auto xl:text-[2vh] md:text-[1.2vw]  shrink-0 link  link--elara  hover:translate-y-[-2.5px] transition-transform duration-0.2 ease lg:py-2 relative capitalize font-bold cursor-pointer flex items-center gap-[4.5px]" href="/manuscript-submission">
        <img class="lg:w-[3vh] md:w-[2vw] icon lg:h-[3vh] md:h-[2vw] object-center obeject-cover" src="/images/icons/submission.png" alt="">
        <span class="spn">
        submissions
        </span>
    </a>
    <a class="block mx-auto xl:text-[2vh] md:text-[1.2vw]  shrink-0 link  link--elara  hover:translate-y-[-2.5px] transition-transform duration-0.2 ease lg:py-2 relative capitalize font-bold cursor-pointer flex items-center gap-[4.5px]" href="/publication-fee">
        <img class="lg:w-[3vh] md:w-[2vw] icon lg:h-[3vh] md:h-[2vw] object-center obeject-coverr" src="/images/icons/icons8-fees-64.png" alt="">
        <span class="spn">
            publication fees
        </span>
    </a>
    <a class="block mx-auto xl:text-[2vh] md:text-[1.2vw]  shrink-0 link  link--elara  hover:translate-y-[-2.5px] transition-transform duration-0.2 ease lg:py-2 relative capitalize font-bold cursor-pointer flex items-baseline gap-[4.5px]" href="/download">
        <i class="ri-chat-download-line text-white  font-medium lg:text-[3vh] md:text-[2vw]"></i>
        <span class="spn">
        download
        </span>
    </a>
    <a class="block mx-auto xl:text-[2vh] md:text-[1.2vw]  shrink-0 link  link--elara  hover:translate-y-[-2.5px] transition-transform duration-0.2 ease lg:py-2 relative capitalize font-bold cursor-pointer flex items-center gap-[4.5px]" href="/contact-page">
        <img class="lg:w-[3vh] md:w-[2vw] icon lg:h-[3vh] md:h-[2vw] object-center obeject-cover" src="/images/icons/phone.png" alt="">
        <span class="spn">
        contact us
        </span>
    </a>
    
</div>
<div class="top-part min-h-[7.5vh] justify-end max-md:w-full mx-auto w-[80%] flex items-center  md:hidden border-t-[1.2px] border-white bg-black min-h-[7.5vh] bg-black text-white flex px-3  gap-4">
    <span class="xl:text-[2.3vh] text-[2.9vw] md:text-[1.5vw] font-medium capitalize menuopen"><i class="ri-menu-2-line mr-2"></i>menu</span>
</div>
</div>
<script>
    const about =  document.querySelector(".about")
    const overlay = document.querySelector(".overlay")
    about.addEventListener("click", function() {
        overlay.classList.toggle("hidden")
    })
</script>