<div id="moverresponse">
    <div class="containerresponse">
        <%indexings && indexings.forEach(function(index){%>
            <div class="elemsresponse"><img src="/images/uploads/<%=index.image.url%>" alt=""></div>
        <%})%>
      </div>
    <div class="containerresponse">
        <%indexings && indexings.forEach(function(index){%>
            <div class="elemsresponse"><img src="/images/uploads/<%=index.image.url%>" alt=""></div>
        <%})%>
    </div>
</div>
