<div id="mover">
    <div class="container">
      <%indexings && indexings.forEach((index)=>{%>
        <div class="elems"><img src="/images/uploads/<%=index.image.url%>" alt=""></div>
      <%})%>
     </div>
   <div class="container">
    <%indexings && indexings.forEach((index)=>{%>
      <div class="elems"><img src="/images/uploads/<%=index.image.url%>" alt=""></div>
    <%})%>
   </div>
</div>
